{% extends 'base.html.twig' %}

{% block title %}Наши новости{% endblock %}

{% block body %}
<div class="col-12 col-md-9">
  <h1 >Наши новости
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('AddNews')}}"><img src="/images/add.png"></a>
{% endif %}</h1>

{{ include('news/recent_list_news.html.twig', { 'news': news }) }}

</div>
{%endblock%}